In [2]:
import pandas as pd
import numpy as np

In [3]:
#importing NFL Passing csv
df = pd.read_csv(r'C:\Users\nickm\Documents\Career_Stats_Passing.csv')

In [4]:
df.head(10)

,Player Id,Name,Position,Year,Team,Games Played,Passes Attempted,Passes Completed,Completion Percentage,Pass Attempts Per Game,...,TD Passes,Percentage of TDs per Attempts,Ints,Int Rate,Longest Pass,Passes Longer than 20 Yards,Passes Longer than 40 Yards,Sacks,Sacked Yards Lost,Passer Rating
0,tomfarris/2513861,"Farris, Tom",NaN,1948,Chicago Rockets,0,--,--,--,0.0,...,--,--,--,--,--,--,--,--,--,0.0
1,tomfarris/2513861,"Farris, Tom",NaN,1947,Chicago Bears,9,2,0,0.0,0.2,...,0,0.0,0,0.0,--,0,0,0,0,39.6
2,tomfarris/2513861,"Farris, Tom",NaN,1946,Chicago Bears,11,21,8,38.1,1.9,...,1,4.8,2,9.5,--,0,0,0,0,31.5
3,billdemory/2512778,"Demory, Bill",NaN,1974,New York Jets,1,--,--,--,0.0,...,--,--,--,--,--,--,--,--,--,0.0
4,billdemory/2512778,"Demory, Bill",NaN,1973,New York Jets,6,39,12,30.8,6.5,...,2,5.1,8,20.5,--,0,0,8,73,22.2
5,breezyreid/2523928,"Reid, Breezy",NaN,1956,Green Bay Packers,7,--,--,--,0.0,...,--,--,--,--,--,--,--,--,--,0.0
6,breezyreid/2523928,"Reid, Breezy",NaN,1955,Green Bay Packers,12,--,--,--,0.0,...,--,--,--,--,--,--,--,--,--,0.0
7,breezyreid/2523928,"Reid, Breezy",NaN,1954,Green Bay Packers,12,--,--,--,0.0,...,--,--,--,--,--,--,--,--,--,0.0
8,breezyreid/2523928,"Reid, Breezy",NaN,1953,Green Bay Packers,12,--,--,--,0.0,...,--,--,--,--,--,--,--,--,--,0.0
9,breezyreid/2523928,"Reid, Breezy",NaN,1952,Green Bay Packers,12,--,--,--,0.0,...,--,--,--,--,--,--,--,--,--,0.0

In [5]:
df.shape

(8525, 23)

In [6]:
#removing irrelevant columns
df = df[['Name', 'Position', 'Year', 'Team', 'Passes Attempted', 'Passes Completed', 'Pass Attempts Per Game', 'TD Passes', 'Ints', 'Passer Rating']]

In [7]:
df.shape

(8525, 10)

In [8]:
#Removing invalid row values from important fields
df = df[ df['Passes Attempted']!='--']

In [9]:
df.shape

(4347, 10)

In [10]:
df.head(20)

,Name,Position,Year,Team,Passes Attempted,Passes Completed,Pass Attempts Per Game,TD Passes,Ints,Passer Rating
1,"Farris, Tom",NaN,1947,Chicago Bears,2,0,0.2,0,0,39.6
2,"Farris, Tom",NaN,1946,Chicago Bears,21,8,1.9,1,2,31.5
4,"Demory, Bill",NaN,1973,New York Jets,39,12,6.5,2,8,22.2
10,"Reid, Breezy",NaN,1951,Green Bay Packers,1,0,0.1,0,0,39.6
12,"Knolla, Johnny",NaN,1945,Chicago Cardinals,1,0,0.1,0,0,39.6
13,"Knolla, Johnny",NaN,1942,Chicago Cardinals,6,1,0.5,0,0,39.6
15,"Nichelini, Al",NaN,1935,Chicago Cardinals,1,1,0.1,0,0,118.8
16,"Savage, Tom",QB,2016,Houston Texans,73,46,24.3,0,0,80.9
17,"Savage, Tom",QB,2014,Houston Texans,19,10,9.5,0,1,51.9
18,"Scarbath, Jack",NaN,1956,Pittsburgh Steelers,41,12,5.9,2,5,24.9
19,"Scarbath, Jack",NaN,1954,Washington Redskins,109,44,10.9,7,13,48.1
20,"Scarbath, Jack",NaN,1953,Washington Redskins,129,45,10.8,9,12,43.5
21,"Maddox, Tommy",NaN,2005,Pittsburgh Steelers,71,34,17.8,2,4,51.7
22,"Maddox, Tommy",NaN,2004,Pittsburgh Steelers,60,30,15.0,1,2,58.3
23,"Maddox, Tommy",NaN,2003,Pittsburgh Steelers,519,298,32.4,18,17,75.3
24,"Maddox, Tommy",NaN,2002,Pittsburgh Steelers,377,234,25.1,20,16,85.2
25,"Maddox, Tommy",NaN,2001,Pittsburgh Steelers,9,7,3.0,1,1,116.2
26,"Maddox, Tommy",NaN,1995,New York Giants,23,6,1.4,0,3,0.0
27,"Maddox, Tommy",NaN,1994,Los Angeles Rams,19,10,3.8,0,2,37.3
28,"Maddox, Tommy",NaN,1993,Denver Broncos,1,1,0.1,1,0,118.8

In [11]:
#Changing the data type of the Passes attempted field to enable filtering 
df['Passes Attempted']= df['Passes Attempted'].astype(int)

In [12]:
df.head(20)

,Name,Position,Year,Team,Passes Attempted,Passes Completed,Pass Attempts Per Game,TD Passes,Ints,Passer Rating
1,"Farris, Tom",NaN,1947,Chicago Bears,2,0,0.2,0,0,39.6
2,"Farris, Tom",NaN,1946,Chicago Bears,21,8,1.9,1,2,31.5
4,"Demory, Bill",NaN,1973,New York Jets,39,12,6.5,2,8,22.2
10,"Reid, Breezy",NaN,1951,Green Bay Packers,1,0,0.1,0,0,39.6
12,"Knolla, Johnny",NaN,1945,Chicago Cardinals,1,0,0.1,0,0,39.6
13,"Knolla, Johnny",NaN,1942,Chicago Cardinals,6,1,0.5,0,0,39.6
15,"Nichelini, Al",NaN,1935,Chicago Cardinals,1,1,0.1,0,0,118.8
16,"Savage, Tom",QB,2016,Houston Texans,73,46,24.3,0,0,80.9
17,"Savage, Tom",QB,2014,Houston Texans,19,10,9.5,0,1,51.9
18,"Scarbath, Jack",NaN,1956,Pittsburgh Steelers,41,12,5.9,2,5,24.9
19,"Scarbath, Jack",NaN,1954,Washington Redskins,109,44,10.9,7,13,48.1
20,"Scarbath, Jack",NaN,1953,Washington Redskins,129,45,10.8,9,12,43.5
21,"Maddox, Tommy",NaN,2005,Pittsburgh Steelers,71,34,17.8,2,4,51.7
22,"Maddox, Tommy",NaN,2004,Pittsburgh Steelers,60,30,15.0,1,2,58.3
23,"Maddox, Tommy",NaN,2003,Pittsburgh Steelers,519,298,32.4,18,17,75.3
24,"Maddox, Tommy",NaN,2002,Pittsburgh Steelers,377,234,25.1,20,16,85.2
25,"Maddox, Tommy",NaN,2001,Pittsburgh Steelers,9,7,3.0,1,1,116.2
26,"Maddox, Tommy",NaN,1995,New York Giants,23,6,1.4,0,3,0.0
27,"Maddox, Tommy",NaN,1994,Los Angeles Rams,19,10,3.8,0,2,37.3
28,"Maddox, Tommy",NaN,1993,Denver Broncos,1,1,0.1,1,0,118.8

In [13]:
#creating a data frame for only QB data. 
#Could not simply filter on "Position" column because of Null values. 
#any player with 200 or more attempts will be considered a QB
qb_df= df[ df['Passes Attempted'] > 199]

In [14]:
qb_df.shape

(1091, 10)

In [15]:
qb_df.head(20)

,Name,Position,Year,Team,Passes Attempted,Passes Completed,Pass Attempts Per Game,TD Passes,Ints,Passer Rating
23,"Maddox, Tommy",NaN,2003,Pittsburgh Steelers,519,298,32.4,18,17,75.3
24,"Maddox, Tommy",NaN,2002,Pittsburgh Steelers,377,234,25.1,20,16,85.2
86,"Tarkenton, Fran",NaN,1978,Minnesota Vikings,572,345,35.8,25,32,68.9
87,"Tarkenton, Fran",NaN,1977,Minnesota Vikings,258,155,28.7,9,14,69.2
88,"Tarkenton, Fran",NaN,1976,Minnesota Vikings,412,255,31.7,17,8,89.3
89,"Tarkenton, Fran",NaN,1975,Minnesota Vikings,425,273,30.4,25,13,91.8
90,"Tarkenton, Fran",NaN,1974,Minnesota Vikings,351,199,27.0,17,12,82.1
91,"Tarkenton, Fran",NaN,1973,Minnesota Vikings,274,169,19.6,15,7,93.2
92,"Tarkenton, Fran",NaN,1972,Minnesota Vikings,378,215,27.0,18,13,80.2
93,"Tarkenton, Fran",NaN,1971,New York Giants,386,226,29.7,11,21,65.4
94,"Tarkenton, Fran",NaN,1970,New York Giants,389,219,27.8,19,12,82.2
95,"Tarkenton, Fran",NaN,1969,New York Giants,409,220,29.2,23,8,87.2
96,"Tarkenton, Fran",NaN,1968,New York Giants,337,182,24.1,21,12,84.6
97,"Tarkenton, Fran",NaN,1967,New York Giants,377,204,26.9,29,19,85.9
98,"Tarkenton, Fran",NaN,1966,Minnesota Vikings,358,192,25.6,17,16,73.8
99,"Tarkenton, Fran",NaN,1965,Minnesota Vikings,329,171,23.5,19,11,83.8
100,"Tarkenton, Fran",NaN,1964,Minnesota Vikings,306,171,21.9,22,11,91.8
101,"Tarkenton, Fran",NaN,1963,Minnesota Vikings,297,170,21.2,15,15,78.0
102,"Tarkenton, Fran",NaN,1962,Minnesota Vikings,329,163,23.5,22,25,66.9
103,"Tarkenton, Fran",NaN,1961,Minnesota Vikings,280,157,20.0,18,17,74.7

In [16]:
#filling null values in the 'Position' column
qb_df['Position'] = qb_df.Position.fillna('QB')

<ipython-input-16-9ee4dd26a640>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  qb_df['Position'] = qb_df.Position.fillna('QB')

In [17]:
qb_df.head(10)

,Name,Position,Year,Team,Passes Attempted,Passes Completed,Pass Attempts Per Game,TD Passes,Ints,Passer Rating
23,"Maddox, Tommy",QB,2003,Pittsburgh Steelers,519,298,32.4,18,17,75.3
24,"Maddox, Tommy",QB,2002,Pittsburgh Steelers,377,234,25.1,20,16,85.2
86,"Tarkenton, Fran",QB,1978,Minnesota Vikings,572,345,35.8,25,32,68.9
87,"Tarkenton, Fran",QB,1977,Minnesota Vikings,258,155,28.7,9,14,69.2
88,"Tarkenton, Fran",QB,1976,Minnesota Vikings,412,255,31.7,17,8,89.3
89,"Tarkenton, Fran",QB,1975,Minnesota Vikings,425,273,30.4,25,13,91.8
90,"Tarkenton, Fran",QB,1974,Minnesota Vikings,351,199,27.0,17,12,82.1
91,"Tarkenton, Fran",QB,1973,Minnesota Vikings,274,169,19.6,15,7,93.2
92,"Tarkenton, Fran",QB,1972,Minnesota Vikings,378,215,27.0,18,13,80.2
93,"Tarkenton, Fran",QB,1971,New York Giants,386,226,29.7,11,21,65.4

In [18]:
#Renaming Column headers. Removing space in names
qb_df = qb_df.rename(columns = {'Passes Attempted': 'Passes_Attempted', 'Passes Completed':'Passes_Completed', 'Pass Attempts Per Game':'Pass_Attempts_Per_Game','TD Passes': 'TD_Passes','Passer Rating':'Passer_Rating' })

In [19]:
qb_df.head(20)

,Name,Position,Year,Team,Passes_Attempted,Passes_Completed,Pass_Attempts_Per_Game,TD_Passes,Ints,Passer_Rating
23,"Maddox, Tommy",QB,2003,Pittsburgh Steelers,519,298,32.4,18,17,75.3
24,"Maddox, Tommy",QB,2002,Pittsburgh Steelers,377,234,25.1,20,16,85.2
86,"Tarkenton, Fran",QB,1978,Minnesota Vikings,572,345,35.8,25,32,68.9
87,"Tarkenton, Fran",QB,1977,Minnesota Vikings,258,155,28.7,9,14,69.2
88,"Tarkenton, Fran",QB,1976,Minnesota Vikings,412,255,31.7,17,8,89.3
89,"Tarkenton, Fran",QB,1975,Minnesota Vikings,425,273,30.4,25,13,91.8
90,"Tarkenton, Fran",QB,1974,Minnesota Vikings,351,199,27.0,17,12,82.1
91,"Tarkenton, Fran",QB,1973,Minnesota Vikings,274,169,19.6,15,7,93.2
92,"Tarkenton, Fran",QB,1972,Minnesota Vikings,378,215,27.0,18,13,80.2
93,"Tarkenton, Fran",QB,1971,New York Giants,386,226,29.7,11,21,65.4
94,"Tarkenton, Fran",QB,1970,New York Giants,389,219,27.8,19,12,82.2
95,"Tarkenton, Fran",QB,1969,New York Giants,409,220,29.2,23,8,87.2
96,"Tarkenton, Fran",QB,1968,New York Giants,337,182,24.1,21,12,84.6
97,"Tarkenton, Fran",QB,1967,New York Giants,377,204,26.9,29,19,85.9
98,"Tarkenton, Fran",QB,1966,Minnesota Vikings,358,192,25.6,17,16,73.8
99,"Tarkenton, Fran",QB,1965,Minnesota Vikings,329,171,23.5,19,11,83.8
100,"Tarkenton, Fran",QB,1964,Minnesota Vikings,306,171,21.9,22,11,91.8
101,"Tarkenton, Fran",QB,1963,Minnesota Vikings,297,170,21.2,15,15,78.0
102,"Tarkenton, Fran",QB,1962,Minnesota Vikings,329,163,23.5,22,25,66.9
103,"Tarkenton, Fran",QB,1961,Minnesota Vikings,280,157,20.0,18,17,74.7

In [20]:
qb_df.tail(20)

,Name,Position,Year,Team,Passes_Attempted,Passes_Completed,Pass_Attempts_Per_Game,TD_Passes,Ints,Passer_Rating
8336,"Pastorini, Dan",QB,1973,Houston Oilers,290,154,20.7,5,17,49.0
8337,"Pastorini, Dan",QB,1972,Houston Oilers,299,144,21.4,7,12,57.1
8338,"Pastorini, Dan",QB,1971,Houston Oilers,270,127,19.3,7,21,43.8
8367,"Marangi, Gary",QB,1976,Buffalo Bills,232,82,21.1,7,16,30.8
8436,"Glennon, Mike",QB,2014,Tampa Bay Buccaneers,203,117,33.8,10,6,83.3
8437,"Glennon, Mike",QB,2013,Tampa Bay Buccaneers,416,247,32.0,19,9,83.9
8469,"Rodgers, Aaron",QB,2016,Green Bay Packers,610,401,38.1,40,7,104.2
8470,"Rodgers, Aaron",QB,2015,Green Bay Packers,572,347,35.8,31,8,92.7
8471,"Rodgers, Aaron",QB,2014,Green Bay Packers,520,341,32.5,38,5,112.2
8472,"Rodgers, Aaron",QB,2013,Green Bay Packers,290,193,32.2,17,6,104.9
8473,"Rodgers, Aaron",QB,2012,Green Bay Packers,552,371,34.5,39,8,108.0
8474,"Rodgers, Aaron",QB,2011,Green Bay Packers,502,343,33.5,45,6,122.5
8475,"Rodgers, Aaron",QB,2010,Green Bay Packers,475,312,31.7,28,11,101.2
8476,"Rodgers, Aaron",QB,2009,Green Bay Packers,541,350,33.8,30,7,103.2
8477,"Rodgers, Aaron",QB,2008,Green Bay Packers,536,341,33.5,28,13,93.8
8487,"Weinke, Chris",QB,2001,Carolina Panthers,540,293,36.0,11,19,62.0
8500,"Osweiler, Brock",QB,2016,Houston Texans,510,301,34.0,15,16,72.2
8501,"Osweiler, Brock",QB,2015,Denver Broncos,275,170,34.4,10,6,86.4
8510,"Ramsey, Steve",QB,1976,Denver Broncos,270,128,22.5,11,13,64.9
8511,"Ramsey, Steve",QB,1975,Denver Broncos,233,128,21.2,9,14,63.6

In [21]:
#importing Rushing CSV
df2 = pd.read_csv(r'C:\Users\nickm\Documents\Career_Stats_Rushing.csv')

In [22]:
df2.head(10)

,Player Id,Name,Position,Year,Team,Games Played,Rushing Attempts,Rushing Attempts Per Game,Rushing Yards,Yards Per Carry,Rushing Yards Per Game,Rushing TDs,Longest Rushing Run,Rushing First Downs,Percentage of Rushing First Downs,Rushing More Than 20 Yards,Rushing More Than 40 Yards,Fumbles
0,fredevans/2513736,"Evans, Fred",NaN,1948,Chicago Bears,3,10,3.3,15,1.5,5.0,0,--,--,--,--,--,--
1,fredevans/2513736,"Evans, Fred",NaN,1948,Chicago Rockets,0,--,0.0,--,--,--,--,--,--,--,--,--,--
2,fredevans/2513736,"Evans, Fred",NaN,1947,Chicago Rockets,0,--,0.0,--,--,--,--,--,--,--,--,--,--
3,fredevans/2513736,"Evans, Fred",NaN,1947,Buffalo Bills,0,--,0.0,--,--,--,--,--,--,--,--,--,--
4,fredevans/2513736,"Evans, Fred",NaN,1946,Cleveland Browns,0,--,0.0,--,--,--,--,--,--,--,--,--,--
5,bobbyfowler/2514295,"Fowler, Bobby",NaN,1985,New Orleans Saints,10,2,0.2,4,2.0,0.4,0,3,--,--,--,--,--
6,quinnjohnson/79593,"Johnson, Quinn",NaN,2013,Tennessee Titans,4,--,0.0,--,--,--,--,--,--,--,--,--,--
7,quinnjohnson/79593,"Johnson, Quinn",NaN,2012,Tennessee Titans,16,4,0.2,5,1.3,0.3,0,3,2,50.0,0,0,0
8,quinnjohnson/79593,"Johnson, Quinn",NaN,2011,Tennessee Titans,4,--,0.0,--,--,--,--,--,--,--,--,--,--
9,quinnjohnson/79593,"Johnson, Quinn",NaN,2011,Denver Broncos,0,--,0.0,--,--,--,--,--,--,--,--,--,--

In [23]:
#removing unneeded columns
df2 = df2[['Name', 'Position', 'Year', 'Team', 'Rushing Attempts','Rushing Attempts Per Game', 'Rushing Yards', 'Yards Per Carry', 'Rushing Yards Per Game', 'Rushing TDs','Fumbles' ]]

In [24]:
df2.head(10)

,Name,Position,Year,Team,Rushing Attempts,Rushing Attempts Per Game,Rushing Yards,Yards Per Carry,Rushing Yards Per Game,Rushing TDs,Fumbles
0,"Evans, Fred",NaN,1948,Chicago Bears,10,3.3,15,1.5,5.0,0,--
1,"Evans, Fred",NaN,1948,Chicago Rockets,--,0.0,--,--,--,--,--
2,"Evans, Fred",NaN,1947,Chicago Rockets,--,0.0,--,--,--,--,--
3,"Evans, Fred",NaN,1947,Buffalo Bills,--,0.0,--,--,--,--,--
4,"Evans, Fred",NaN,1946,Cleveland Browns,--,0.0,--,--,--,--,--
5,"Fowler, Bobby",NaN,1985,New Orleans Saints,2,0.2,4,2.0,0.4,0,--
6,"Johnson, Quinn",NaN,2013,Tennessee Titans,--,0.0,--,--,--,--,--
7,"Johnson, Quinn",NaN,2012,Tennessee Titans,4,0.2,5,1.3,0.3,0,0
8,"Johnson, Quinn",NaN,2011,Tennessee Titans,--,0.0,--,--,--,--,--
9,"Johnson, Quinn",NaN,2011,Denver Broncos,--,0.0,--,--,--,--,--

In [25]:
df2.shape

(17507, 11)

In [26]:
#Removing invalid row values from important fields
df2 = df2[ df2['Rushing Attempts']!='--']

In [27]:
df2.head(10)

,Name,Position,Year,Team,Rushing Attempts,Rushing Attempts Per Game,Rushing Yards,Yards Per Carry,Rushing Yards Per Game,Rushing TDs,Fumbles
0,"Evans, Fred",NaN,1948,Chicago Bears,10,3.3,15,1.5,5.0,0,--
5,"Fowler, Bobby",NaN,1985,New Orleans Saints,2,0.2,4,2.0,0.4,0,--
7,"Johnson, Quinn",NaN,2012,Tennessee Titans,4,0.2,5,1.3,0.3,0,0
13,"Farris, Tom",NaN,1947,Chicago Bears,1,0.1,-3,-3.0,-0.3,0,--
14,"Farris, Tom",NaN,1946,Chicago Bears,12,1.1,-11,-0.9,-1.0,0,--
15,"Gonda, George",NaN,1942,Pittsburgh Steelers,17,3.4,147,8.6,29.4,2,--
16,"Adams, Joe",NaN,2012,Carolina Panthers,3,0.3,13,4.3,1.4,0,0
17,"Thomas, Gene",NaN,1968,Boston Patriots,88,9.8,215,2.4,23.9,2,--
18,"Thomas, Gene",NaN,1967,Kansas City Chiefs,35,2.5,133,3.8,9.5,1,--
19,"Thomas, Gene",NaN,1966,Kansas City Chiefs,7,0.5,53,7.6,3.8,1,--

In [28]:
df2.shape

(11457, 11)

In [29]:
#Filtering data to limit RB with fewer than 175 carries
rb_df= df2[ df2['Rushing Attempts'] > 175]

TypeError: '>' not supported between instances of 'str' and 'int'

In [ ]:
rb_df.head(10)

In [ ]:
rb_df.shape

In [ ]:
#filling null values in the 'Position' column
rb_df['Position'] = rb_df.Position.fillna('RB')

In [ ]:
rb_df.tail(10)